In [19]:
import pandas as pd
import sqlite3

# Veriyi oku
df = pd.read_csv("C:\\Users\\REYHAN\OneDrive\\Masaüstü\\Veri_Analiz\\Yapay zeka\\github\\data\\yapayzeka_düzenli.csv")

# SQLite veritabanı oluştur ve veriyi kaydet
conn = sqlite3.connect("C:\\Users\\REYHAN\\OneDrive\\Masaüstü\\Veri_Analiz\\Yapay zeka\\github\\data\\chatbot_analiz.db")
df.to_sql("chatbot_anketi", conn, if_exists="replace", index=False)

print("✅ Veri başarıyla veritabanına yazıldı.")
query1 = """
SELECT Cinsiyet, COUNT(*) AS KisiSayisi, ROUND(AVG(YZORT), 2) AS Ortalama_YZ_Kabulu
FROM chatbot_anketi
GROUP BY Cinsiyet;
"""

pd.read_sql_query(query1, conn)

✅ Veri başarıyla veritabanına yazıldı.

  Cinsiyet  KisiSayisi  Ortalama_YZ_Kabulu
0    Erkek          47                3.93
1    Kadın         339                4.10